# Google Sheets Configuration
GOOGLE_SHEET_ID=1kRoHe5BFJG-Y2xPr29deuI79exsqgeGBl--gQOPAf20
GOOGLE_SHEETS_CREDENTIALS_JSON={"type": "service_account", "project_id": "your_project_id", "private_key_id": "your_private_key_id", "private_key": "-----BEGIN PRIVATE KEY-----\nyour_private_key_here\n-----END PRIVATE KEY-----\n", "client_email": "your_client_email@your_project_id.iam.gserviceaccount.com", "client_id": "your_client_id", "auth_uri": "https://accounts.google.com/o/oauth2/auth", "token_uri": "https://oauth2.googleapis.com/token", "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs", "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/your_client_email%40your_project_id.iam.gserviceaccount.com"}

# Database Configuration
DATABASE_URL=sqlite:///bq-erp.db